.boxed{

		margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 28px;
        border-color: #3366FF;
        border-style: outset;
        border-width: thick;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;

        background-color: white;

       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=90);
       opacity:.9;
}

h1{

  text-align: center;
  margin-top:50px;
  font-family:Arial;
  font-variant: small-caps;
  font-weight: lighter;
  color:#3366FF;
  /*background-color: white;*/
  background: transparent;
    
}

p{
  text-align: left;
  margin-top:15px;
  margin-left: 20px;
  font-family:Arial;
  font-variant: small-caps;
  font-weight: lighter;
  color:#3366FF;
  /*background-color: white;*/
  background: transparent;
}

#Buttons{
  position: relative;
  text-align: center;
  white-space: nowrap;
  /*background-color: white;*/
  background: transparent;
  


}

.button{
  display: inline-block;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Arial;
  font-variant: small-caps;
  font-size: 40px;
  color: black;
  opacity: 0.85;
  box-shadow: 5px 5px 5px black;
  text-decoration: none;
  text-align:  center;
  border: #3366FF 3px solid;
  border-color: #3366FF;
    border-style: outset;
    border-width: thick;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 5px;
    /*background: linear-gradient(to bottom, rgba(255,0,0,0), white)*/
    background: transparent;

   
}

a{
  text-decoration: none;
  color: #3366FF;
}