body{
	background-image: url(BXmP4.jpg);
	background-size: 100%;
	width: 100%;
	height: 100%;
}

h1{

	text-align: center;
	margin-top:25px;
	margin-bottom: 25px;
	font-family:Arial;
	font-variant: small-caps;
	font-weight: lighter;
	color: white;
	/*background-color: white;*/
	background: transparent;
    
}

a{
	text-decoration: none;
	color: white;
}


#Buttons{
	position: relative;
	text-align: center;
	white-space: nowrap;
	/*background-color: white;*/
	background: transparent;
	


}

.button{
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: Arial;
	font-variant: small-caps;
	font-size: 40px;
	color: black;
	opacity: 0.85;
	box-shadow: 5px 5px 5px black;
	text-decoration: none;
	text-align:  center;
	border: white 3px solid;
	border-color: white;
    border-style: outset;
    border-width: thick;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 5px;
    /*background: linear-gradient(to bottom, rgba(255,0,0,0), white)*/
    background: transparent;

   
}

.boxed{

		margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 2%;
        font-size: 28px;
        border-color: #3366FF;
        border-style: outset;
        border-width: thick;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;
        background-color: #3366FF;
       /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=90);
       opacity:.9;*/ 
       
}

#picture
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	
	width: 39%;
	height: 100%;
	

}
